.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.nav-bar {
    display: flex;
    background-color: #333;
    padding: 20px 10px 20px 10px;
    gap: 20px;
}

.nav-item {
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.nav-bar .nav-item:hover {
    background-color: #bdbbbb;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-bar .nav-item:hover .dropdown {
    display: block;
}

.nav-item .dropdown {
    display: none;
    min-width: 150px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 100%;
}

.dropdown-item a {
    text-decoration: none;
    color: black;
}

.dropdown-item {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.dropdown .dropdown-item:hover {
    background-color: lightgrey;
}